<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set horizontal = horizontal is not defined ? false : horizontal %}

{# Variables #}
{% set title = article.title %}
{% set date = article.postDate %}
{% set url = article.url %}
{% set image = article.mainImage.one() %}
{% set thumbUrl = null %}
{% if image %}
  {% set thumb = {
    width: 700,
    height: 400,
  } %}

  {% set thumbUrl = image.getUrl(thumb) %}
{% endif %}

{# Output #}
{% if title %}
  <a class="group block rounded-md overflow-hidden w-full bg-white {{ horizontal ? 'sm:flex' : '' }}" href="{{ url }}" aria-label="{{ title }}">
    <div class="{{ horizontal ? 'sm:w-2/3 sm:pr-1' : '' }}">
      <div class="aspect-ratio-article-card">
        <div class="aspect-inner bg-cover bg-center"
           {% if image %}
              style="background-image: url('{{ thumbUrl }}')"
           {% endif %}
        >
        </div>
      </div>
    </div>
    <div class="p-6">
      <h2 class="text-xl text-gray-900 group-hover:text-red-600">{{ title }}</h2>
      <p class="text-gray-600 text-sm uppercase">{{ date|date('F j, Y') }}</p>
    </div>
  </a>
{% endif %}
