<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set title = title is not defined ? null : title %}
{% set image = image is not defined ? null : image %}
{% set url = url is not defined ? null : url %}

{# Output #}
{% if title or image %}
  {% if url %}
    <a class="category-card aspect-ratio-category-card" href="{{ url }}" aria-label="{{ title }}">
  {% else %}
    <div class="category-card aspect-ratio-category-card">
  {% endif %}
    <div class="aspect-inner bg-cover bg-center"{% if image %} style="background-image: url({{ image }})"{% endif %}>
      <div class="bg-black bg-opacity-25 absolute inset-0"></div>
      <div class="relative flex items-center justify-center h-full w-full text-2xl font-bold text-white">
        {{ title }}
      </div>
    </div>
  {% if url %}
    </a>
  {% else %}
    </div>
  {% endif %}
{% endif %}
