<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set title = title is not defined ? null : title %}
{% set image = image is not defined ? null : image %}
{% set url = url is not defined ? null : url %}
{% set price = price is not defined ? null : price %}

{# Output #}
{% if title or image %}
  <a class="block bg-white p-8" href="{{ url }}" aria-label="{{ title }}">

    {% if image %}
      <img src="{{ image.url }}" />
    {% endif %}

    {# Meta #}
    <div class="text-black">
      <div class="text-lg font-medium">
        {{ title }}
      </div>
      <div>
        {{ price }}
      </div>
    </div>
  </a>
{% endif %}
