<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set title = title is not defined ? null : title %}
{% set image = image is not defined ? null : image %}
{% set url = url is not defined ? null : url %}
{% set price = price is not defined ? null : price %}
{% set salePrice = salePrice is not defined ? null : salePrice %}

{% set thumbUrl = null %}

{% if image %}
  {% set thumb = {
    mode: 'fit',
    width: 600,
    height: 400,
  } %}

  {% set thumbUrl = image.getUrl(thumb) %}
{% endif %}

{% set reviews = craft.entries({ section: 'reviews', relatedTo: product, orderBy: 'postDate DESC' }).all() %}
{% set hasReviews = reviews and reviews|length %}
{% set averageRating = hasReviews ? 0 : false %}

{% for review in reviews %}
  {% set averageRating = averageRating + review.stars %}
  {% if loop.last %}
    {% set averageRating = (averageRating / reviews|length)|round(1) %}
  {% endif %}
{% endfor %}


{# Output #}
{% if title or image %}
  <a class="product-card flex flex-col rounded-md bg-white p-8" href="{{ url }}" aria-label="{{ title }}">
    <div class="flex-1 flex items-center">
      {% if thumbUrl %}
        <img alt="{{ image.title }}" src="{{ thumbUrl }}" />
      {% endif %}
    </div>

    {# Meta #}
    <div class="mt-4 text-black flex items-start">
      <div class="flex-1">
        <div class="text-lg font-medium">
          {{ title }}
        </div>
        <div class="mt-1">
          {% if salePrice %}
            <div>
              {{ salePrice }}
            </div>
            <div class="-mt-1">
              <del class="text-xs text-gray-500 leading-3">{{ price }}</del>
            </div>
          {% else %}
            {{ price }}
          {% endif %}
        </div>
      </div>
      {% if averageRating %}
        <div class="flex items-center text-gray-500 text-sm">
          <div class="mr-1">
            {{ averageRating }}
          </div>
          <div>
            {{ svg('@webroot/icons/star.svg')|attr({ class: 'w-4 h-4' }) }}
          </div>
        </div>
      {% endif %}
    </div>
  </a>
{% endif %}
