<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set title = title is not defined ? null : title %}
{% set image = image is not defined ? null : image %}
{% set url = url is not defined ? null : url %}
{% set price = price is not defined ? null : price %}
{% set type = type is not defined ? null : type %}
{% set colors = colors is not defined ? [] : colors %}
{% set salePrice = salePrice is not defined ? null : salePrice %}
{% set averageRating = averageRating is not defined ? null : averageRating %}
{% if ariaLabel is not defined %}
  {% set ariaLabel = title %}
  {% if colors|length == 1 %}
    {% set ariaLabel = '{title}. {color} {type} bike. {price}'|t('site', {
      title: title,
      color: colors[0],
      type: type,
      price: salePrice ? salePrice : price
    }) %}
  {% elseif colors|length > 1 %}
    {% set ariaLabel = '{title}. {color1} and {color2} {type} bike. {price}'|t('site', {
      title: title,
      color1: colors[0].title,
      color2: colors[1].title,
      type: type,
      price: salePrice ? salePrice : price
    }) %}
  {% endif %}
{% endif %}

{# Output #}
{% if title or image %}
  <a class="product-card flex flex-col rounded-md bg-white p-8" href="{{ url }}" aria-label="{{ ariaLabel }}">
    <div class="flex-1 flex items-center">
      {% if image %}
        {% include '_includes/components/images/responsive' with {
          class: 'w-full',
          image: image,
          sizes: {
              '425px': '320px',
              '639px': '527px',
              '767px': '284px',
              '1023px': '188px',
              '1279px': '295px',
              '1439px': '236px',
              'all': '320px',
          },
          srcset: ['527w', '320w', '295w', '284w', '236w', '188w'],
          transform: { width: 380, height: 200, },
        } %}
      {% endif %}
    </div>

    {# Meta #}
    <div class="mt-4 text-black flex items-start">
      <div class="flex-1">
        <div class="text-lg font-medium">
          {{ title }}
        </div>
        <div class="mt-1">
          {% if salePrice %}
            <div>
              {{ salePrice }}
            </div>
            <div class="-mt-1">
              <s aria-label="{{ 'Reduced from {price}'|t('site', { price: price }) }}" class="text-xs text-gray-500 leading-3">{{ price }}</s>
            </div>
          {% else %}
            {{ price }}
          {% endif %}
        </div>
      </div>
      {% if not averageRating is same as(null) %}
        <div class="flex items-center text-gray-500 text-sm">
          <div class="mr-1">
            {{ averageRating }}
          </div>
          <div>
            {{ svg('@webroot/assets/icons/star.svg')|attr({ class: 'w-4 h-4' }) }}
          </div>
        </div>
      {% endif %}
    </div>
  </a>
{% endif %}
