<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set title = title is not defined ? null : title %}
{% set image = image is not defined ? null : image %}
{% set url = url is not defined ? null : url %}
{% set price = price is not defined ? null : price %}
{% set salePrice = salePrice is not defined ? null : salePrice %}

{% set thumbUrl = null %}

{% if image %}
  {% set thumb = {
    mode: 'fit',
    width: 600,
    height: 400,
  } %}

  {% set thumbUrl = image.getUrl(thumb) %}
{% endif %}


{# Output #}
{% if title or image %}
  <a class="product-card flex flex-col rounded-md bg-white p-8" href="{{ url }}" aria-label="{{ title }}">
    <div class="flex-1 flex items-center">
      {% if thumbUrl %}
        <img alt="{{ image.title }}" src="{{ thumbUrl }}" />
      {% endif %}
    </div>

    {# Meta #}
    <div class="mt-4 text-black">
      <div class="text-lg font-medium">
        {{ title }}
      </div>
      <div>
        {% if salePrice %}
          <del class="text-xs text-gray-600">{{ price }}</del> {{ salePrice }}
        {% else %}
          {{ price }}
        {% endif %}
      </div>
    </div>
  </a>
{% endif %}
