<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set lineItem = lineItem is not defined ? null : lineItem %}
{% set purchasable = purchasable is defined ? purchasable : (lineItem ? lineItem.getPurchasable() : null) %}
{% set form = form is not defined ? false : form %}
{% set isCompleted = isCompleted is not defined ? true : isCompleted %}
{% set mainImage = not isCompleted and purchasable and purchasable.product ? purchasable.product.mainImage.one() : null %}
{% set showImage = showImage is not defined ? true : showImage %}

{% if lineItem %}
  <div id="line-item-{{ lineItem.id }}" class="line-item flex flex-wrap items-center border-b border-gray-300 py-8">
    {# Image #}
    {% if showImage %}
      <div class="w-full md:w-1/3 lg:w-1/5 md:pr-6">
        {% set lineItemImage %}
          {% if mainImage %}
            {% include '_includes/components/images/responsive' with {
              class: 'w-full',
              image: mainImage,
              sizes: {
                '320px': '272px',
                '425px': '377px',
                '767px': '592px',
                '1023px': '216px',
                '1279px': '171px',
                '1439px': '181px',
                'all': '181px',
              },
              srcset: ['592w', '377w', '272w', '216w', '181w', '171w'],
              transform: { width: 272, height: 143, },
            } %}
          {% else %}
            {% include '_includes/components/order/snapshotImage' with { lineItem: lineItem } %}
          {% endif %}
        {% endset %}
        {% if purchasable %}
          <a class="block" href="{{ purchasable.product.url }}">
            {{ lineItemImage }}
          </a>
        {% else %}
          {{ lineItemImage }}
        {% endif %}
      </div>
    {% endif %}

    <div class="flex flex-wrap items-center w-full {{ showImage ? 'md:w-2/3 lg:w-4/5' : '' }}">
      {# Product #}
      <div class="w-full lg:w-1/2 md:pr-6">
        {{ tag(purchasable ? 'a' : 'div', {
          class: "font-bold text-xl text-black block",
          href: purchasable ? purchasable.product.url : null,
          text: lineItem.description,
        }) }}
        <div>{{ lineItem.sku }}</div>
        {% if form %}
          <div x-data="{}">
            <input id="remove-{{ lineItem.id }}" 
              type="hidden" 
              name="lineItems[{{ lineItem.id }}][remove]" 
              value="0"
            >
            <button id="remove-trigger-{{ lineItem.id }}" 
              class="text-blue-600 cursor-pointer" 
              x-on:click.prevent="if (confirm('{{ 'Are you sure you want to remove {product}?'|t({ product: lineItem.description }) }}')) { htmx.find('#remove-{{ lineItem.id }}').value = 1; htmx.trigger(htmx.find('#cart'), 'submit') } "
            >
              {{- 'Remove'|t -}}
            </button>
          </div>
        {% endif %}
      </div>

      {# Quantity #}
      <div class="w-1/2 lg:w-1/4 md:pr-6"
        {% if form %} x-data="{}"{% endif %}
      >
        {% if form %}
          <label for="qty-{{ lineItem.id }}">{{ 'Quantity'|t }}</label>
          <input
            id="qty-{{ lineItem.id }}"
            class="qty"
            name="lineItems[{{ lineItem.id }}][qty]"
            type="text"
            value="{{ lineItem.qty }}"
            {# Only trigger a change on keyup for a numeric value #}
            x-on:keyup.debounce.400="if ($event.key !== 'Tab' && $event.keyCode !== 9 && isFinite($event.key)) { htmx.trigger($event.target, 'updateForm'); }"
            required
          >
        {% else %}
          {{ 'Quantity'|t }}: {{ lineItem.qty }}
        {% endif %}
      </div>

      {# Price #}
      <div class="w-1/2 lg:w-1/4 text-right">
        {{ lineItem.subtotalAsCurrency }}
      </div>
    </div>
  </div>
{% endif %}
