{# Params #}
{% set qty = qty is not defined ? 0 : qty %}
{% set lineItems = lineItems is not defined ? [] : lineItems %}
{% set shipping = shipping is not defined ? false : shipping %}
{% set discount = discount is not defined ? false : discount %}
{% set total = total is not defined ? false : total %}

<!-- Template: {{ _self }}.twig -->
<div class="relative" @click.away="showCartMenu = false" @keydown.escape="showCartMenu = false">
    <div class="flex relative">
        <button
                aria-label="Cart"
                @click="showCartMenu = !showCartMenu"
                @keydown.escape="showCartMenu = false"
                class="cart-toggle inline-block px-4 py-2 text-black hover:text-red-600 cursor-pointer">
            {{ svg('@webroot/icons/cart.svg')|attr({ class: 'w-6 h-6' }) }}
        </button>
        {% if qty %}
            <div class="absolute bottom-0 right-0 text-xs rounded-full bg-gray-200 px-2">{{ qty }}</div>
        {% endif %}
    </div>

    <template x-if="showCartMenu">
        <div class="cart-menu origin-top-right absolute right-0 border-t lg:border-none border-white lg:mt-0.5 pt-3 z-0 w-64">
            <div class="p-6 rounded-b-md border-r border-l border-b border-gray-300 bg-white shadow-lg" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                <div class="space-y-4">
                    {% if lineItems|length %}
                        <div>
                            {% for item in lineItems %}
                                <div class="flex justify-between text-sm {% if not loop.first %}border-t border-dashed border-gray-300 mt-2 pt-2{% endif %}">
                                    <div>
                                        {{ item.description }}<br>
                                        <span class="text-xs text-gray-600">x {{ item.qty }}</span>
                                    </div>
                                    <div>
                                        {{ item.totalAsCurrency }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="border-t border-gray-200 mt-2 pt-2 text-right">
                                {% if shipping %}
                                    <div class="text-gray-600 text-xs">{{ 'Shipping'|t }}: {{ shipping }}</div>
                                {% endif %}
                                {% if discount %}
                                    <div class="text-gray-600 text-xs">{{ 'Discount'|t }}: {{ discount }}</div>
                                {% endif %}
                                <div class="text-sm">{{ 'Total'|t }}: {{ total }}</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center text-base text-gray-500 p-8 rounded border-gray-300 border border-dashed">
                          {{ 'No items'|t }}
                        </div>
                    {% endif %}
                    <div>
                        <a class="button submit w-full text-center" href="{{ cartPage.url }}">Check Out</a>
                    </div>
                    <div>
                        {% if cartPage is defined %}
                            <a class="block rounded flex items-center px-4 py-2 -mx-4 text-sm leading-5 text-blue-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem" href="{{ cartPage.url }}">
                                {{ svg('@webroot/icons/cart.svg')|attr({ class: 'w-5 h-5 mr-2' }) }}
                                {{ cartPage.title }}
                            </a>
                        {% endif %}
                        <a class="block rounded flex items-center px-4 py-2 -mx-4 text-sm leading-5 text-blue-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem" href="{{ url('account/orders') }}">
                            {{ svg('@webroot/icons/box.svg')|attr({ class: 'w-5 h-5 mr-2' }) }}
                            Orders
                        </a>
                        <a class="block rounded flex items-center px-4 py-2 -mx-4 text-sm leading-5 text-blue-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem" href="{{ url('account/membership') }}">
                            {{ svg('@webroot/icons/address-card.svg')|attr({ class: 'w-5 h-5 mr-2' }) }}
                            Membership
                        </a>
                        {% if accountPage is defined %}
                            <a class="block rounded flex items-center px-4 py-2 -mx-4 text-sm leading-5 text-blue-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem" href="{{ url('account') }}">
                                {{ svg('@webroot/icons/cog.svg')|attr({ class: 'w-5 h-5 mr-2' }) }}
                                {{ "Account"|t('site') }}
                            </a>
                        {% endif %}

                        {% if not currentUser %}
                            <a class="block rounded flex items-center px-4 py-2 -mx-4 text-sm leading-5 text-blue-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem" href="{{ loginPage.url }}">
                                {{ svg('@webroot/icons/user--avatar--filled--alt.svg')|attr({ class: 'w-5 h-5 mr-2' }) }}
                                {{ 'Sign in'|t }}
                            </a>
                        {% else %}
                            <a class="block rounded flex items-center px-4 py-2 -mx-4 text-sm leading-5 text-blue-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem" href="{{ logoutUrl }}">
                                {{ svg('@webroot/icons/user--avatar--filled--alt.svg')|attr({ class: 'w-5 h-5 mr-2' }) }}
                                {{ 'Sign out'|t }}
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </template>
</div>
