<!-- Template: {{ _self }}.twig -->
{# Variables #}
{% set footerNav = footer.footerNav|length ? footer.footerNav.all() : [] %}

{# Output #}
<footer>
  <h2 class="sr-only">{{ 'Footer'|t }}</h2>

  <div class="container">
    <div class="mt-8 py-8">
      {% if footerNav|length %}
        <div class="pb-8 xl:grid xl:grid-cols-4 xl:gap-8">
          <div class="grid grid-cols-2 gap-8 xl:col-span-4">
            <div class="md:grid md:grid-cols-2 md:gap-8">
              {% for col in footerNav|slice(0, 2) %}
                {% include '_includes/components/footer/column' with { col: col } %}
              {% endfor %}
            </div>
            {% if footerNav|length > 2 %}
              <div class="md:grid md:grid-cols-2 md:gap-8">
                {% for col in footerNav|slice(2, 2) %}
                  {% include '_includes/components/footer/column' with { col: col } %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {# TODO implement when the demo has multi site
          <div class="mt-12 xl:mt-0 space-y-4">
            <h4 class="text-sm leading-5 font-semibold text-gray-600 tracking-wider uppercase">
              {{ footer.subheading }}
            </h4>
            <form class="mt-4 space-y-4 sm:max-w-xs">
              <fieldset class="w-full">
                <label for="language" class="sr-only">{{ 'Language'|t }}</label>
                {% include '_includes/components/forms/select' with {
                  id: 'language',
                  options: [
                    { value: 'en', label: 'English', selected: true },
                    { value: 'de', label: 'German' },
                    { value: 'fr', label: 'French' },
                  ]
                } %}
              </fieldset>
            </form>
          </div>
          #}
          {% include '_includes/components/modal' %}
        </div>
      {% endif %}
      {% if footer.heading %}
        <div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
          <p class="mt-8 text-base leading-6 text-gray-600 md:mt-0 md:order-1">
            &copy; {{ now|date('Y') }} {{ footer.heading }}
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</footer>