{# Params #}
{% set title = title is not defined ? null : title %}
{% set button = button is not defined ? null : button %}
{% set buttonUrl = buttonUrl is not defined ? null : buttonUrl %}
{% set buttonTitle = buttonTitle is not defined ? null : buttonTitle %}
{% set image = image is not defined ? null : image %}
{% set short = short is not defined ? false : short %}

{# Variables #}
{% set aspectClass = short ? 'aspect-ratio-hero-short' : 'aspect-ratio-hero' %}

{# Output #}
{% if title or image or button %}
  <!-- Template: {{ _self }}.twig -->
  <div class="{{ aspectClass }}">
    <div class="aspect-inner bg-cover bg-center" {% if image %}style="background-image: url({{image}});"{% endif %}>
      <div class="bg-black bg-opacity-50 h-full">
        <div class="container h-full">
          <div class="flex items-center w-full h-full">
            <div class="mx-auto font-bold text-white text-center">
              <h1 class="text-4xl">{{ title }}</h1>

              {% if button %}
                <div class="text-4xl">
                  <a href="{{buttonUrl}}" title="{{ buttonTitle }}" class="button submit">{{ button }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
