{# Variables #}
{% set order = order is not defined ? null : order %}
{% set pdf = order ? order.getPdfUrl() : null %}

{% if order %}
  <!-- Template: {{ _self }}.twig -->
  <div class="bg-white shadow rounded-md">
    <div class="border-b border-gray-200 p-6">
      <div class="md:flex justify-between items-center text-sm">
        <div class="flex-1 grid gap-8 grid-cols-2 sm:grid-cols-4">
          <div>
            <div class="uppercase text-xs text-gray-600">{{ 'Order Number'|t }}</div>
            <div class="font-medium">{{ order.shortNumber }}</div>
          </div>
          <div>
            <div class="uppercase text-xs text-gray-600">{{ 'Order Date'|t }}</div>
            <div class="font-medium">{{ order.dateOrdered|date('F jS, Y') }}</div>
          </div>
          <div>
            <div class="uppercase text-xs text-gray-600">{{ 'Total'|t }}</div>
            <div class="font-medium">{{ order.totalAsCurrency }}</div>
          </div>
          <div>
            <div class="uppercase text-xs text-gray-600">{{ 'Shipped To'|t }}</div>
            <div class="font-medium">{{ order.shippingAddress.postalCode }}, {{ order.shippingAddress.countryCode }}</div>
          </div>
        </div>
        <div class="mt-8 md:mt-0 md:ml-4 md:text-right">
          {% include '_includes/components/order/orderStatus' with { orderStats: order.orderStatus } %}
        </div>
      </div>
    </div>

    <div class="p-6">
      <div class="sm:flex">
        <div class="sm:flex-1">
          {% for lineItem in order.lineItems %}
            <div class="flex items-center">
              <div class="w-1/3">
                <div class="aspect-ratio-product-card">
                  <div class="aspect-inner overflow-hidden relative">
                    {% include '_includes/components/order/snapshotImage' with { lineItem: lineItem } %}
                  </div>
                </div>
              </div>
              <div class="flex-1 mx-8 py-4 {{ not loop.first ? 'border-t' : '' }} border-gray-200">
                <div class="font-bold">{{ lineItem.description }}</div>
                <div>{{ lineItem.totalAsCurrency }}</div>
                <div>{{ 'Quantity'|t }}: {{ lineItem.qty }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="mt-4 sm:mt-0 sm:w-1/3">
          <a class="button text-center text-sm w-full submit"
            href="{{ siteUrl(entry.uri ~ '/' ~ order.shortNumber) }}"
          >
            {{- 'View order details'|t -}}
          </a>
            {% if pdf %}
              <a class="button text-sm w-full mt-2 text-center"
                href="{{ pdf }}"
              >
                {{- 'Download PDF invoice'|t -}}
              </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}