{# Layout #}
{% extends '_layouts/site' %}

{% set type = entry is defined ? '' : category.slug %}
{% set colorsQuery = craft.app.request.getQueryParam('colors', '') %}
{% set colorsArray = colorsQuery ? colorsQuery|split('|')|map(c => c|e('js')) : [] %}
{% set materialsQuery = craft.app.request.getQueryParam('materials', '') %}
{% set materialsQuery = materialsQuery ? materialsQuery|split('|')|map(m => m|e) : [] %}
{% set sort = craft.app.request.getQueryParam('sort', '')|e('js') %}

{% block content %}
  {% set mainImage = null %}

  {% if entry is defined %}
    {% set mainImage = entry.mainImage.one() %}
  {% elseif category is defined %}
    {% set mainImage = category.mainImage.one() %}
  {% endif %}

  <div class="bg-gray-700">
    {% include '_includes/components/hero' with {
      image: mainImage,
      title: entry is defined ? entry.title : category.title,
      short: true,
    } only %}
  </div>
  <div x-data="filter()" x-init='init({ type: "{{ type }}", colors: {{ colorsArray|json_encode|raw }}, materials: {{ materialsQuery|json_encode|raw }}, sort: "{{ sort }}" }, $nextTick)'
      class="relative"
  >
    {{ sprig('ProductFilter',
      {
        type: type,
        colors: colorsQuery,
        materials: materialsQuery,
        sort: sort,
      },
      {
        id: 'filter',
        's-trigger': 'refresh, change from:.filter',
        's-indicator': '#filter-indicator',
      }
    ) }}
    <div id="filter-indicator" class="spinner-overlay">
      {% include '_includes/components/spinner' %}
    </div>
  </div>
{% endblock %}