{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set searchNav = [
  {
    searchType: 'products',
    title: 'Products',
  },
  {
    searchType: 'articles',
    title: 'Articles',
  },
] %}

{% set searchQuery = craft.app.request.getQueryParam('q') %}

{# Search products #}
{% set productQueryOptions = {
  type: 'bike',
  with: ['bikeType', 'colors', 'mainImage']
} %}
{% set productQuery = craft.products(productQueryOptions) %}
{% set products = productQuery.search(searchQuery).all() %}

{# Search articles #}
{% set articles = craft.entries({
  section: 'articles',
}).search(searchQuery).all() %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <div class="bg-gray-100 pt-12 px-6">
    <div class="max-w-xl mx-auto sm:text-center">
      <h1 class="text-4xl mt-0">{{ 'Search results for “{query}”'|t('site', { query: searchQuery }) }}</h1>

      <form action="/search" class="max-w-sm mx-auto mt-4">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            {{ svg('@webroot/assets/icons/search.svg')|attr({
              class: 'text-gray-500 w-6 h-6',
            }) }}
          </div>

          <input id="search-input" 
            name="q" 
            type="search" 
            placeholder="{{ 'Search Spoke & Chain…'|t }}" 
            value="{{ searchQuery }}" 
            class="full-w pl-10"
          />
        </div>
      </form>
    </div>
  </div>

  <div class="bg-gray-100 py-8 px-6">
    <div class="mt-12 max-w-6xl mx-auto">
      {% if products|length == 0 and articles|length == 0 %}
        <div class="text-center pb-12">
          <h2 class="text-2xl">{{ entry.plainText1 ? entry.plainText1 : 'No results found'|t }}</h2>
          <p>{{ entry.plainText2 ? entry.plainText2 : 'We can\'t find any results based on your search'|t }}</p>
        </div>
      {% endif %}

      {% if products|length > 0 %}
        <h2 class="mt-12 text-2xl">{{ products|length }} products</h2>
        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-6 xl:grid-cols-3 grid-flow-row auto-rows-max">
          {% for product in products %}
            {% set defaultVariant = product.getDefaultVariant() %}
            {% include '_includes/components/cards/product' with {
              title: product.title,
              image: product.mainImage[0] ?? null,
              url: product.url,
              colors: product.colors,
              type: product.bikeType[0] ?? null,
              price: defaultVariant.priceAsCurrency,
              salePrice: defaultVariant.onSale ? defaultVariant.salePriceAsCurrency : false,
              averageRating: craft.reviews.getAverageRatingByProductId(product.id),
            } only %}
          {% endfor %}
        </div>
      {% endif %}

      {% if articles|length > 0 %}
        <h2 class="mt-12 text-2xl">{{ articles|length }} articles</h2>

        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-6 xl:grid-cols-3 grid-flow-row auto-rows-max">
          {% for article in articles %}
            {% include '_includes/components/cards/article' with {
              article: article,
            } only %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}