{% extends '_layouts/special' %}
{% set emailContent = craft.entries({
  section: 'emails',
  slug: 'received',
}).one() %}

{% block head %}
  <title>{{ 'Order Received'|t }}: {{ order.shortNumber }}</title>
{% endblock %}

{% block header %}
  {% if emailContent %}
    <div class="container flex justify-center">
      <div class="w-full max-w-5xl">
        {% if emailContent.heading %}
          <h1 class="pb-4">{{ emailContent.heading }}</h1>
        {% endif %}

        {% if emailContent.body %}
          {{ emailContent.body }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="container flex justify-center">
    <div class="w-full max-w-5xl">
      {% for lineItem in order.lineItems %}
        {% include '_includes/components/order/lineItem' with {
          lineItem: lineItem,
          showImage: false,
        } only %}
      {% endfor %}

      {% if order.shippingAddress %}
        <div class="flex flex-wrap border-gray-300 py-8">
          <div class="w-full pb-4 lg:pb-0 lg:w-1/5 pr-6">
            <h3>{{ 'Address'|t }}</h3>
          </div>
          <div class="w-full lg:w-4/5">
            <div class="flex">
              <div class="w-1/2">
                <h4>{{ 'Shipping to'|t }}:</h4>
                <p>{{ order.shippingAddress.addressLines|join("\n")|nl2br }}</p>
              </div>
              <div class="w-1/2">
                <h4>{{ 'Billing Address'|t }}:</h4>

                <p>{{ order.billingAddress.addressLines|join("\n")|nl2br }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="flex flex-wrap border-t border-gray-300 py-8">
        <div class="w-full pb-4 lg:pb-0 lg:w-1/5">
          <h3>{{ 'Your Total'|t }}</h3>
        </div>

        <div class="w-full lg:w-4/5">
          {% include '_includes/components/order/totals' with { order: order } only %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}