{% requireLogin %}

{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set ordersPage = craft.entries({
  section: 'account',
  type: 'orders',
}).one() ?? null %}
{#{% set membershipPage = craft.entries({#}
{#  section: 'account',#}
{#  type: 'membership',#}
{#}).one() ?? null %}#}
{% set settingsPage = craft.entries({
  section: 'account',
  type: 'settings',
}).one() ?? null %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->
  <div class="bg-gray-100 py-8 px-6">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-4xl text-center">{{ entry.title }}</h1>
      <div class="mt-16 md:grid md:grid-cols-3 md:gap-12">
        {% if ordersPage %}
          <div>
            <h2 class="text-2xl">{{ ordersPage.title }}</h2>
            {% if ordersPage.subheading %}
              <div class="mt-2">{{ ordersPage.subheading }}</div>
            {% endif %}
            <ul class="mt-2">
              <li>
                <a href="{{ ordersPage.getUrl() }}">
                  {{ 'See your orders'|t }}
                  {{ svg('@webroot/icons/chevron-right.svg')|attr({ class: 'w-4 h-4' }) }}
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
        <div class="mt-8 md:mt-0">
          <h2 class="text-2xl">Membership</h2>
          <div class="mt-2">Subscribe or cancel your membership to our services.</div>
          <ul class="mt-2">
            <li>
              <a href="{{ url('account/membership') }}">
                See your membership
                {{ svg('@webroot/icons/chevron-right.svg')|attr({ class: 'w-4 h-4' }) }}
              </a>
            </li>
          </ul>
        </div>

        {# Account Settings #}
        {% if settingsPage %}
          <div class="mt-8 md:mt-0">
            <h2 class="text-2xl">{{ settingsPage.title }}</h2>
            {% if settingsPage.subheading %}
              <div class="mt-2">{{ settingsPage.subheading }}</div>
            {% endif %}
            <ul class="mt-2">
              <li>
                <a href="{{ settingsPage.getUrl() ~ '#email-password' }}">
                  {{ 'Email and password'|t }}
                  {{ svg('@webroot/icons/chevron-right.svg')|attr({ class: 'w-4 h-4' }) }}
                </a>
              </li>
              <li>
                <a href="{{ settingsPage.getUrl() ~ '#credit-cards' }}">
                  {{ 'Credit cards'|t }}
                  {{ svg('@webroot/icons/chevron-right.svg')|attr({ class: 'w-4 h-4' }) }}
                </a>
              </li>
              <li>
                <a href="{{ settingsPage.getUrl() ~ '#addresses' }}">
                  {{ 'Addresses'|t }}
                  {{ svg('@webroot/icons/chevron-right.svg')|attr({ class: 'w-4 h-4' }) }}
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}