{% set data = data is not defined ? '' : data %}
{% set data = not data is iterable ? data|json_decode : data %}
{% if address is not defined or (address is defined and not address is instance of('craft\\elements\\Address')) %}
  {% set address = data.id and data.id == 'new' ? create('craft\\elements\\Address') : data.id ? collect(currentUser.getAddresses()).firstWhere('id', data.id) : null %}
{% endif %}

<!-- Template: {{ _self }}.twig -->
<form
  sprig
  class="h-full w-full overflow-auto flex flex-col relative"
  s-method="{{ data is not defined or data.method is not defined ? 'post' : data.method }}"
  s-action="{{ data is not defined or data.action is not defined ? 'post' : data.action }}"
  s-vals='{{ {data: data, type: type}|json_encode|raw }}'
  x-data="{ submitting: false }"
  x-on:submit="submitting = true"
>

  {% set body %}
    {% if data %}
      {% if address is same as (null) %}
        <p>{{ 'Unable to find address.'|t }}</p>
      {% else %}
        {% include '_includes/components/address/fields' with {
          modelName: null,
          model: address,
          outputIdField: true,
          errors: address.getErrors()
        } %}
      {% endif %}
    {% endif %}
  {% endset %}

  {% set buttons %}
    {% if data %}
      <button class="button submit" type="submit">{{ 'Save'|t }}</button>
    {% endif %}
  {% endset %}

  {% include '_includes/components/modals/_inner' with {
    heading: 'Edit Address'|t,
    body: body,
    buttons: buttons,
    closeButton: true,
    closeButtonText: 'Cancel'|t
  } %}

  <div class="spinner-overlay" :class="{ 'spinner-overlay--show': submitting }">
    {% include '_includes/components/spinner' %}
  </div>
</form>

<script>
  // Refresh other components
  {% if success is defined and success %}
    var addressLists = htmx.findAll('.address-list');
    addressLists.forEach(function(list) {
        htmx.trigger(list, 'refresh');
    });

    closeModal();
    addNotification('notice', '{{ data and data.id == 'new' ? 'Address added'|t : 'Address updated'|t }}');
  {% endif %}
</script>
