{% set data = data is not defined ? '' : data %}
{% set data = not data is iterable ? data|json_decode : data %}

<!-- Template: {{ _self }}.twig -->
<form
    sprig
    class="h-full w-full overflow-auto flex flex-col"
    s-method="{{ data is not defined or data.method is not defined ? 'post' : data.method }}"
    s-action="{{ data is not defined or data.action is not defined ? 'post' : data.action }}"
    s-val:data='{{ data|json_encode }}'
>
  <div class="px-12 py-8 text-center bg-gray-200">
    <h2>{{ 'Edit Address'|t }}</h2>
  </div>

  <div class="p-12 flex-1 overflow-auto">
    {% if data %}
      {% set address = data.id and data.id == 'new' ? [] : data.id ? craft.commerce.customers.customer.addressById(data.id) : null %}
      {% if address is same as (null) %}
        <p>{{ 'Uanble to find address.'|t }}</p>
      {% else %}
          {% include '_includes/components/address/fields' with {
            modelName: 'address',
            model: address,
            outputIdField: true,
          } %}
      {% endif %}
    {% endif %}
  </div>

  <div x-data="{}" class="px-12 py-8 text-center bg-gray-200">
    <a class="button" href="#" x-on:click.prevent="$dispatch('closemodal')">{{ 'Cancel'|t }}</a>
    {% if data %}
      <input class="button submit" type="submit" value="{{ 'Save'|t }}">
    {% endif %}
  </div>
</form>

<script>
    // Refresh other components
    {% if success is defined and success %}
      document.querySelector('#address-list').dispatchEvent(new CustomEvent('refresh'));
      window.dispatchEvent(new CustomEvent('closemodal'));
      window.dispatchEvent(new CustomEvent('notification', {
          detail: {
              type: 'notice',
              message: '{{ data and data.id == 'new' ? 'Address added'|t : 'Address updated'|t }}'
          }
      }));
    {% endif %}
</script>