{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set addresses = currentUser ? currentUser.addresses : [] %}
{% set shippingPage = craft.entries({ section: 'checkoutShipping' }).one() %}
{% set checkoutPage = craft.entries({ section: 'checkout' }).one() %}

{# Blocks #}
{% block content %}
  {% if cart and (not cart.email or not cart.lineItems|length) %}
    {% redirect checkoutPage ? checkoutPage.uri : 'checkout' %}
  {% endif %}
  {% set billingAddressSameAsShipping = (not cart.shippingAddressId and not cart.billingAddressId) or (cart.shippingAddressId and cart.billingAddressId and cart.hasMatchingAddresses()) %}
  <!-- Template: {{ _self }}.twig -->

  {# Heading #}
  {% include '_includes/components/pages/heading' with {
    heading: entry.heading ?? entry.title
  } %}

  <div class="container py-12">
    <div class="container flex justify-center">
      <div class="w-full max-w-2xl">
        <form id="checkout-address" method="post" x-data="{
          shippingAddress: {{ currentUser and addresses|length and cart.shippingAddressId ? cart.shippingAddressId : 'null' }},
        }">
          {{ csrfInput() }}
          {{ actionInput('commerce/cart/update-cart') }}
          {{ redirectInput(shippingPage ? shippingPage.uri : 'checkout/shipping') }}

          {% if entry.heading %}
            <h2>{{ entry.heading }}</h2>
          {% endif %}

          <h2 class="text-2xl mb-4">
            {{- 'Shipping Address'|t -}}
          </h2>

          <div class="space-y-6">
            <div class="space-y-2 relative">
              {% if currentUser and addresses|length %}
                {{ sprig('_includes/components/address/list', {
                    showDelete: false,
                    model: 'shippingAddress',
                    radio: 'shippingAddressId',
                  }, {
                    id: 'shipping-address-list',
                    class: 'address-list',
                    's-include': '#shipping-address-list',
                    's-indicator': '#shipping-address-list-indicator'
                }) }}
                <div id="shipping-address-list-indicator" class="spinner-overlay">
                  {% include '_includes/components/spinner' %}
                </div>
              {% else %}
                <div>
                  {% include '_includes/components/address/fields' with {
                    modelName: 'shippingAddress',
                    model: cart.shippingAddress,
                    errors: cart.shippingAddress and cart.shippingAddress.hasErrors ? cart.shippingAddress.getErrors() : [],
                  } %}
                </div>
              {% endif %}
            </div>

            {# Fallback default for `billingAddressSameAsShipping` #}
            {{ hiddenInput('billingAddressSameAsShipping', 0) }}

            <div x-data="{
              billingSameAsShipping: {{ billingAddressSameAsShipping ? 'true' : 'false' }},
              billingAddress: '{{ currentUser and addresses|length and cart.billingAddressId ? cart.billingAddressId : '' }}'
            }">
              <div class="flex items-center">
                {{ input('checkbox', 'billingAddressSameAsShipping', null, {
                  id: 'billingSameAsShipping',
                  class: 'checkbox',
                  'x-model': 'billingSameAsShipping',
                  ':checked': 'billingSameAsShipping',
                }) }}
                <label class="ml-2" for="billingSameAsShipping">{{ 'Use address for billing'|t }}</label>
              </div>

              <div class="mt-4" :class="{ hidden: billingSameAsShipping }">
                <div>
                  <h2 class="text-2xl mb-4">{{ 'Billing Address'|t }}</h2>
                </div>
                <div class="space-y-2 relative">
                  {% if currentUser and addresses|length %}
                    {{ sprig('_includes/components/address/list', {
                      showDelete: false,
                      model: 'billingAddress',
                      radio: 'billingAddressId',
                    }, {
                      id: 'billing-address-list',
                      class: 'address-list',
                      's-include': '#billing-address-list',
                      's-indicator': '#billing-address-list-indicator',
                    }) }}
                    <div id="billing-address-list-indicator" class="spinner-overlay">
                      {% include '_includes/components/spinner' %}
                    </div>
                  {% else %}
                    <div>
                      {% include '_includes/components/address/fields' with {
                        modelName: 'billingAddress',
                        model: cart.billingAddress,
                        errors: cart.billingAddress and cart.billingAddress.hasErrors ? cart.billingAddress.getErrors() : [],
                        outputIdField: not (cart.billingAddress and cart.shippingAddress and cart.billingAddress.id == cart.shippingAddress.id)
                      } %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="text-right">
              <button class="button submit" type="submit" name="submit">{{ 'Next'|t }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
