{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set summaryPage = craft.entries({ section: 'checkoutSummary' }).one() %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# Heading #}
  {% include '_includes/components/pages/heading' with {
    heading: entry.heading ?? entry.title
  } %}

  <div class="container flex justify-center py-12">
    <div class="w-full max-w-2xl">
      <form id="checkout-shipping-method" method="post">
        {{ csrfInput() }}
        {{ actionInput('commerce/cart/update-cart') }}
        {{ redirectInput(summaryPage ? summaryPage.uri : 'checkout/summary') }}

        {% if entry.heading %}
          <h2>{{ entry.heading }}</h2>
        {% endif %}

        {% if not cart.availableShippingMethodOptions|length %}
          <p>{{ 'No shipping methods available.'|t }}</p>
          <div>
            <a href="{{ summaryPage ? summaryPage.url : siteUrl('checkout/summary') }}"
               class="button"
            >{{ 'Continue'|t }}</a>
          </div>
        {% else %}
          <div class="space-y-6">
            <div class="space-y-2">
              {% for handle, method in cart.availableShippingMethodOptions %}
                <div class="option-select">
                  {{ input('radio', 'shippingMethodHandle', handle, {
                    id: 'shipping-method-'~handle,
                    checked: handle == cart.shippingMethodHandle
                  }) }}

                  <label for="shipping-method-{{ handle }}">
                    <strong>{{ method.name }}</strong><br>
                    <span class="price">{{ method.getPrice()|commerceCurrency(cart.currency) }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>

            <div class="text-right">
              <button class="button submit" type="submit">{{ 'Select Shipping Method'|t }}</button>
            </div>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
