{% set orderNumber = craft.app.request.getQueryParam('number', null) %}
{% set order = orderNumber ? craft.orders({ number: orderNumber }).one() : null%}
{% if not orderNumber or not order %}
  {% redirect '/' %}
{% endif %}

{# Layout #}
{% extends '_layouts/site' %}

{# Output #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->
  {# Heading #}
  {% include '_includes/components/pages/heading' with {
    heading: entry.heading ?? entry.title
  } %}

  <div class="container flex justify-center">
    <div class="w-full max-w-5xl">
      {% for lineItem in order.lineItems %}
        {% include '_includes/components/order/lineItem' with { lineItem: lineItem } only %}
      {% endfor %}

      {% if order.shippingAddress %}
        <div class="flex flex-wrap border-gray-300 py-8">
          <div class="w-full pb-4 lg:pb-0 lg:w-1/5 pr-6">
            <h3>
              {{- 'Addresses'|t -}}
            </h3>
          </div>
          <div class="w-full lg:w-4/5">
            <div class="flex">
              <div class="w-1/2">
                <h4>
                  {{- 'Shipping To'|t ~ ':' -}}
                </h4>

                {{ craft.app.addresses.formatAddress(order.shippingAddress)|raw }}
              </div>
              <div class="w-1/2">
                <h4>
                  {{- 'Billing Address'|t ~ ':' -}}
                </h4>

                {{ craft.app.addresses.formatAddress(order.billingAddress)|raw }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="flex flex-wrap border-t border-gray-300 py-8">
        <div class="w-full lg:w-1/5">
          <h3>
            {{- 'Your Total'|t -}}
          </h3>
        </div>

        <div class="w-full md:w-4/5">
          {% include '_includes/components/order/totals' with {
            order: order
          } only %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
