{% set cart = cart is not defined ? craft.commerce.carts.cart : cart %}
{# Layout #}
{% extends '_layouts/site' %}
{% set cartPage = craft.entries({ section: 'checkout', type: 'cart' }).one() %}
{% if cart is not defined or not cart.lineItems|length %}
  {% redirect cartPage ? cartPage.uri : 'cart' %}
{% endif %}

{# Variables #}
{% set successPage = craft.entries({ section: 'checkout', type: 'success' }).one() %}
{% set paymentSources = craft.commerce.paymentSources.allPaymentSourcesByUserId(currentUser.id ?? null) %}
{% set paymentForm = paymentForm is defined ? paymentForm : (cart.gatewayId ? cart.gateway.paymentFormModel() : null)  %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# Heading #}
  <div class="bg-gray-300">
    <div class="container py-4 text-center">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>

  <form method="post" x-data="{ id: null, type: 'gateway' }">
    {{ csrfInput() }}
    {{ actionInput('commerce/payments/pay') }}
    {{ redirectInput(successPage ?
      successPage.uri ~ '?number=' ~ cart.number
      : '/checkout/success?number=' ~ cart.number
    ) }}
    {{ hiddenInput('cancelUrl', entry.uri|hash) }}
    {{ hiddenInput('orderEmail', cart.email) }}

    <div class="container flex justify-center">
      <div class="border-t border-gray-300 w-full max-w-5xl">
        {% for lineItem in cart.lineItems %}
          {% include '_includes/components/order/line-item' with { lineItem: lineItem } only %}
        {% endfor %}

        {% if cart.shippingAddress %}
          <div class="flex flex-wrap border-gray-300 py-8">
            <div class="w-full pb-4 lg:pb-0 lg:w-1/5 pr-6">
              <h3>{{ 'Address'|t }}</h3>
            </div>
            <div class="w-full lg:w-4/5">
              <div class="flex">
                <div class="w-1/2">
                  <h4>{{ 'Shipping to'|t }}:</h4>
                  <p>{{ cart.shippingAddress.addressLines|join("\n")|nl2br }}</p>
                </div>
                <div class="w-1/2">
                  <h4>{{ 'Billing Address'|t }}:</h4>

                  {% if cart.shippingAddressId == cart.billingAddressId %}
                    <p>{{ 'Same as shipping.'|t }}</p>
                  {% elseif cart.billingAddress %}
                    <p>{{ cart.billingAddress.addressLines|join("\n")|nl2br }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="flex flex-wrap border-t border-gray-300 py-8">
          <div class="w-full pb-4 lg:pb-0 lg:w-1/5">
            <h3>{{ 'Payment Info'|t }}</h3>
          </div>
          <div class="w-full lg:w-4/5">
            {% if currentUser %}
              {% if paymentSources|length %}
                {% for paymentSource in paymentSources %}
                  <label class="block border rounded" :class="{ 'border-blue-700': id == {{ paymentSource.id }} && type == 'paymentSource', 'border-gray-300': type != 'paymentSource' }">
                    <input type="radio" name="paymentSourceId" value="{{ paymentSource.id }}" {% if id == cart.paymentSourceId and not cart.gatewayId %}checked{% endif %} x-model="id"/>
                    <strong>{{ paymentSrouce.description }}</strong> {{ 'Saved card'|t }}
                  </label>
                {% endfor %}

                <div class="relative">
                  <input id="payment-source-new" class="focus:shadow-none z-0 w-5 h-5 top-0 left-0 w-full h-full cursor-pointer absolute opacity-75" type="radio" name="shippingMethodHandle" value="{{ handle }}" x-model="handle"/>

                  <label for="payment-source-new" class="block border-2 rounded p-4">
                    <strong>{{ method.name }}</strong><br>
                    <span class="price">{{ method.getPrice()|commerceCurrency(cart.currency) }}</span>
                  </label>
                </div>
              {% else %}
                <div>
                  {% include '_includes/components/forms/credit-card' with { paymentForm: paymentForm } %}
                </div>
              {% endif %}
            {% else %}
              {% include '_includes/components/forms/credit-card' with { paymentForm: paymentForm } %}
            {% endif %}
          </div>
        </div>

        <div class="flex flex-wrap border-t border-gray-300 py-8">
          <div class="w-full lg:w-1/5">
            <h3>{{ 'Your Info'|t }}</h3>
          </div>

          <div class="w-full md:w-4/5">
            {% include '_includes/components/order/totals' with { order: cart } only %}
          </div>

          <div class="w-full text-right pt-4">
            <input class="button submit" type="submit" name="submit" value="{{ 'Pay {total}'|t('site', { total: cart.totalAsCurrency }) }}">
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}