{% set plan = plan is not defined ? null : plan %}
{% set planInfo = plan ? plan.getInformation() : null %}
{% set paymentSources = plan ? craft.commerce.
  getPaymentSources().
  getAllGatewayPaymentSourcesByUserId(
    plan.getGateway().id,
    currentUser.id ?? null
  ) : null
%}

{% if plan %}
  {% set existingSubscriptions = craft.subscriptions({
    isSuspended: false,
    isExpired: false,
    isCanceled: false,
  }).user(currentUser).all() %}
  {% set existingSubscriptionsPlanHandles = existingSubscriptions|length ? existingSubscriptions|map(sub => sub.plan.handle) : [] %}
  {% set name = planInfo ? planInfo.title : plan.name %}

  <!-- Template: {{ _self }}.twig -->
  <div class="bg-gray-100 p-8">
    {% if name %}
      <h2 class="text-2xl text-center">{{ name }}</h2>
    {% endif %}

    {% if planInfo and planInfo.planFeatures|length %}
      <div class="mt-4">
        <ul class="space-y-4">
          {% for feature in planInfo.planFeatures %}
            <li class="pl-8 relative">
              <svg class="w-6 h-6 text-green-500 absolute translate -translate-y-full top-0 left-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>

              {{ feature.feature }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="mt-8">
      {% if not currentUser and loginPage is defined and loginPage %}
        <a class="button submit w-full" href="{{ loginPage.getUrl() }}">{{ 'Login to buy'|t }}</a>
      {% elseif currentUser and existingSubscriptionsPlanHandles|length and plan.handle in existingSubscriptionsPlanHandles %}
        <p>{{ 'Already subscribed'|t }}</p>
      {% elseif currentUser %}
        <form method="post">
          {{ csrfInput() }}
          {{ actionInput('commerce/subscriptions/subscribe') }}
          {{ hiddenInput('planUid', plan.uid|hash) }}
          {% if not paymentSources|length %}
            {% include '_includes/components/forms/creditCard' with { paymentForm: plan.getGateway().getPaymentFormModel() } %}
          {% endif %}

          <button class="button" type="submit">{{ 'Subscribe'|t }}</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endif %}
