{% set countries = craft.commerce.countries.allEnabledCountriesAsList %}
{% set states = craft.commerce.states.allEnabledStatesAsListGroupedByCountryId %}
{% set countryId = model and model.countryId ? model.countryId : null %}
{% set stateId = model and model.stateId ? model.stateId : null %}
{% set outputIdField = outputIdField is defined ? outputIdField : true %}
{% set idName = model and model.id ? modelName ~ '-' ~ model.id : modelName %}

<div x-data="addresses()" x-init="
  modelId = '{{ model and model.id ? model.id : "null" }}';
  countryId = {{ countryId ? "'#{countryId}'" : 'null' }};
  stateId = {{ stateId ? "'#{stateId}'" : 'null' }};
  modelName = '{{ modelName }}';
  toggleStates();
  errors = {{ (model ? model.getErrors() : {})|json_encode }};
"
>
  <template x-on:address{{ model and model.id ? model.id : '' }}errors.window="updateErrors($event.detail)"></template>
  {% if model and model.id and outputIdField %}
    {{ hiddenInput(modelName ~ '[id]', model.id) }}
  {% endif %}
  <div class="mt-3">
    <label for="{{ idName }}-firstName">{{ 'First Name'|t }}</label>
    <input type="text" id="{{ idName }}-firstName" class="w-full" :class="{ 'border-red-600': hasErrors('firstName') }" name="{{ modelName }}[firstName]" value="{{ model ? model.firstName : '' }}">
    {% include '_includes/components/forms/errorList' with { key: 'firstName' } only %}
  </div>
  <div class="mt-3">
    <label for="{{ idName }}-lastName">{{ 'Last Name'|t }}</label>
    <input type="text" id="{{ idName }}-lastName" class="w-full" :class="{ 'border-red-600': hasErrors('lastName') }" name="{{ modelName }}[lastName]" value="{{ model ? model.lastName : '' }}">
    {% include '_includes/components/forms/errorList' with { key: 'lastName' } only %}
  </div>
  <div class="mt-3">
    <label for="{{ idName }}-address1">{{ 'Address 1'|t }}</label>
    <input type="text" id="{{ idName }}-address1" class="w-full" :class="{ 'border-red-600': hasErrors('address1') }" name="{{ modelName }}[address1]" value="{{ model ? model.address1 : '' }}">
    {% include '_includes/components/forms/errorList' with { key: 'address1' } only %}
  </div>

  <div class="mt-3">
    <label for="{{ idName }}-address2">{{ 'Address 2'|t }} <small class="text-gray-500">({{ 'optional'|t }})</small></label>
    <input type="text" id="{{ idName }}-address2" class="w-full" :class="{ 'border-red-600': hasErrors('address2') }" name="{{ modelName }}[address2]" value="{{ model ? model.address2 : '' }}">
    {% include '_includes/components/forms/errorList' with { key: 'address2' } only %}
  </div>

  <div class="flex -mx-4 mt-3">
    <div class="flex-1 mx-4">
      <label for="{{ idName }}-city">{{ 'City'|t }}</label>
      <input type="text" id="{{ idName }}-city" class="w-full" :class="{ 'border-red-600': hasErrors('city') }" name="{{ modelName }}[city]" value="{{ model ? model.city : '' }}">
      {% include '_includes/components/forms/errorList' with { key: 'city' } only %}
    </div>
    <div class="flex-1 mx-4">
      <label for="{{ idName }}-zipCode">{{ 'Zip Code'|t }}</label>
      <input type="text" id="{{ idName }}-zipCode" class="w-full" :class="{ 'border-red-600': hasErrors('zipCode') }" name="{{ modelName }}[zipCode]" value="{{ model ? model.zipCode : '' }}">
      {% include '_includes/components/forms/errorList' with { key: 'zipCode' } only %}
    </div>
  </div>
  <div class="mt-3">
    <label for="{{ idName }}-phone">{{ 'Phone'|t }} <small class="text-gray-500">({{ 'optional'|t }})</small></label>
    <input type="text" id="{{ idName }}-phone" class="w-full" :class="{ 'border-red-600': hasErrors('phone') }" name="{{ modelName }}[phone]" value="{{ model ? model.phone : '' }}">
    {% include '_includes/components/forms/errorList' with { key: 'phone' } only %}
  </div>
  <div class="flex -mx-4 mt-3">
    <div class="flex-1 mx-4">
      <label for="{{ idName }}-countryId">{{ 'Country'|t }}</label>
      <div class="select w-full">
        <select class="w-full" :class="{ 'border-red-600': hasErrors('countryId') }" name="{{ modelName }}[countryId]" x-on:change="onChange">
          {% for key, option in countries %}
            {% set optionValue = (model ? model.countryId : '') %}
            <option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      </div>
      {% include '_includes/components/forms/errorList' with { key: 'countryId' } only %}
    </div>
    <div class="flex-1 mx-4">
      <label for="{{ idName }}-state">{{ 'State'|t }} <small class="text-gray-500" x-show="!showStateSelect">({{ 'optional'|t }})</small></label>
      {% set options = (model and states[model.countryId] is defined ? states[model.countryId] : []) %}
      <div class="select w-full" x-show="showStateSelect">
        <select :id="stateSelectId" class="w-full {{ model and model.getErrors('stateValue')|length ? 'border-red-600' : '' }}" name="{{ modelName }}[stateValue]" x-model="stateId">
          <template x-for="(state, index) in states()" :key="state.id" x-if="states().length">
            <option :value="state.id" x-text="state.name" :selected="stateSelected(state)"></option>
          </template>
        </select>
      </div>
      <input
          type="text"
          :id="stateTextId"
          class="w-full {{ model and model.getErrors('stateValue')|length ? 'border-red-600' : '' }}"
          :name="!showStateSelect ? '{{ modelName }}[stateValue]' : ''"
          value="{{ model ? model.stateName : '' }}"
          x-show="!showStateSelect"
      >
      {% include '_includes/components/forms/errorList' with { key: 'stateValue' } only %}
    </div>
  </div>
</div>