{% set model = model is not defined ? 'address' : model %}
{% set radio = radio is not defined ? null : radio %}
{% set showDelete = showDelete is not defined ? true : showDelete %}

<!-- Template: {{ _self }}.twig -->
<div class="space-y-2">
  {% for address in currentUser.getAddresses() %}
    <div class="option-select">
      {% if model and radio %}
        <input id="{{ model }}-{{ address.id }}" type="radio" name="{{ radio }}" value="{{ address.id }}" x-model="{{ model }}">
      {% endif %}

      {% if model %}
        <label for="{{ model }}-{{ address.id }}">
      {% endif %}
      {% include '_includes/components/address/lines' with { address: address } %}
      {% if model %}
        </label>
      {% endif %}

      {% include '_includes/components/address/editButton' with {
        address: address,
        redirectUrl: '',
      } %}

      {% if showDelete %}
        <div class="absolute text-right mb-4 bottom-0 right-0 pr-4 sm:pr-8">
          <form sprig s-method="post" s-action="users/delete-address" s-confirm="{{ "Are you sure you wish to delete this address?"|t }}">
            {{ hiddenInput('addressId', address.id) }}

            <button class="button chromeless" type="submit">{{ 'Delete'|t }}</button>
          </form>
        </div>
      {% endif %}
    </div>
  {% endfor %}
  <div x-data="modalButton('address', { id: 'new', method: 'post', action: 'users/save-address' }, 'slideout')">
    <button id="add-address" class="option-select text-black" x-on:click.prevent="open($dispatch, '#add-address')">
      <div>
        <strong>{{ 'Add address'|t }}</strong>
      </div>
    </button>
  </div>
</div>
